In [107]:
import pandas as pd
import gzip
import json
import ast
import re

In [68]:
archivo_comprimido = 'Json_comprimidos\steam_games.json.gz'
# Descomprimir y leer el archivo
with gzip.open(archivo_comprimido, 'rt', encoding='utf-8') as f:
    contenido_json = []
    for linea in f:
        contenido_json.append(json.loads(linea.strip()))


df_juegos = pd.DataFrame(contenido_json)
df_juegos

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\lucat\AppData\Local\Temp\ipykernel_16124\1023844523.py:1: SyntaxWarning: invalid escape sequence '\s'
  archivo_comprimido = 'Json_comprimidos\steam_games.json.gz'

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [69]:
df_juegos = df_juegos.drop(columns=['url', 'reviews_url', 'early_access','publisher'])
df_juegos.isnull().sum()

genres          91593
app_name        88312
title           90360
release_date    90377
tags            88473
specs           88980
price           89687
id              88312
developer       91609
dtype: int64

In [70]:
columnas_obligatorias  = ['title', 'app_name','developer'] #Si no tenemos el nombre no nos sirve porque no podemos recomendar un juego sin nombre.
df_juegos = df_juegos.dropna(subset=columnas_obligatorias, how='all') #Tiene que tener los dos faltantes, app_name o titulo.

In [71]:
df_juegos.head()

,genres,app_name,title,release_date,tags,specs,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",[Single-player],4.99,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...","[Single-player, Multi-player, Online Multi-Pla...",Free To Play,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...","[Single-player, Multi-player, Online Multi-Pla...",Free to Play,670290,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",[Single-player],0.99,767400,彼岸领域
88314,NaN,Log Challenge,NaN,NaN,"[Action, Indie, Casual, Sports]","[Single-player, Full controller support, HTC V...",2.99,773570,NaN

In [104]:
#df_juegos = df_juegos.drop(columns=['title', 'tags','specs']) #Eliminamos title porque tiene 2048 nulos y app_name no tiene ningun nulo. 

df_juegos = pd.read_json('dataframe_juegos.json')

In [105]:
#df_juegos['price'].value_counts()

# Reemplazar las filas que contienen "Free" con 0
df_juegos['price'] = df_juegos['price'].replace(to_replace=['Play Now', 'Third-party', 'Install Now', 'Play WARMACHINE: Tactics Demo', 'Install Theme','Free', 'Free to Play', 'Free To Play', 'Free Mod', 'Free Demo', 'Play for Free!',  'Free Movie', 'Play the Demo', 'Free to Try',  'Free HITMAN™ Holiday Pack',  'Free to Use'], value='0.0')
df_juegos['price'] = df_juegos['price'].replace(to_replace=['Starting at $449.00', 'Starting at $499.00'], value='449.00')

df_juegos['price'] = df_juegos['price'].astype(float)

In [96]:
# Convierte la columna 'Fecha' a tipo datetime
def extract_year(date_str):
    try:
        # Intentar convertir la cadena a una fecha
        date = pd.to_datetime(date_str, errors='raise')
        # Extraer el año y convertirlo a string
        return str(date.year)
    except:
        # Si ocurre una excepción (porque no se puede convertir a fecha), retornar la cadena original
        return date_str

df_juegos['release_date'] = df_juegos['release_date'].apply(extract_year)

C:\Users\lucat\AppData\Local\Temp\ipykernel_16124\3833077858.py:5: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  date = pd.to_datetime(date_str, errors='raise')

,genres,app_name,release_date,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018,4.99,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018,0.00,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017,0.00,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017,0.99,767400.0,彼岸领域
88314,None,Log Challenge,None,2.99,773570.0,None
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018,1.99,773640.0,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018,4.99,733530.0,Sacada
120442,"[Indie, Racing, Simulation]",Russian Roads,2018,1.99,610660.0,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",EXIT 2 - Directions,2017,4.99,658870.0,"xropi,stev3ns"
120444,None,Maze Run VR,None,4.99,681550.0,None

In [112]:
def extract_year(date_str):
    if date_str == None:
        return None
    # Patrón para encontrar un año en cualquier lugar de la cadena
    year_pattern = r'\b\d{4}\b'
    
    # Intentar encontrar el año en cualquier parte de la cadena
    match = re.search(year_pattern, date_str)
    if match:
        return match.group()  # Devolver el año encontrado
    
    try:
        # Intentar convertir la cadena a una fecha
        date = pd.to_datetime(date_str, errors='raise')
        # Extraer el año y convertirlo a string
        return str(date.year)
    except:
        # Si ocurre una excepción (porque no se puede convertir a fecha), retornar la cadena original
        return None

# Aplicar la función a la columna release_date
df_juegos['release_date'] = df_juegos['release_date'].apply(extract_year)

df_juegos

,genres,app_name,release_date,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018,4.99,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018,0.00,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017,0.00,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017,0.99,767400.0,彼岸领域
88314,None,Log Challenge,None,2.99,773570.0,None
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018,1.99,773640.0,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018,4.99,733530.0,Sacada
120442,"[Indie, Racing, Simulation]",Russian Roads,2018,1.99,610660.0,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",EXIT 2 - Directions,2017,4.99,658870.0,"xropi,stev3ns"
120444,None,Maze Run VR,None,4.99,681550.0,None

In [114]:
df_juegos.to_json('dataframe_juegos.json')

In [ ]:
#pd.options.display.max_columns = 15
#pd.options.display.max_rows = 300
df_juegos['release_date'].value_counts()

In [129]:
def calcular_estadisticas_por_desarrollador(desarrollador):
    # Filtrar el dataframe por el desarrollador dado
    df_desarrollador = df_juegos[df_juegos['developer'] == desarrollador]
    
    # Agrupar por año y contar la cantidad total de ítems
    total_items_por_anio = df_desarrollador.groupby('release_date')['app_name'].count()
    
    # Calcular la cantidad de ítems gratuitos por año
    items_gratuitos_por_anio = df_desarrollador[df_desarrollador['price'] == 0].groupby('release_date')['app_name'].count()
    
    # Combinar los dataframes y calcular el porcentaje de ítems gratuitos
    estadisticas = pd.DataFrame({
        'Cantidad Gratuitos': items_gratuitos_por_anio,
        'Cantidad Total': total_items_por_anio,
        'Porcentaje Gratuito': (items_gratuitos_por_anio / total_items_por_anio) * 100
    })
    
    # Llenar los NaN con 0 (en caso de que no haya ítems gratuitos en un año específico)
    estadisticas = estadisticas.fillna(0)
    estadisticas = estadisticas.rename_axis(index={'release_date': 'Año'})
    
    return estadisticas

In [134]:
calcular_estadisticas_por_desarrollador('Nikita "Ghost_RUS"')

      Cantidad Gratuitos  Cantidad Total  Porcentaje Gratuito
Año
2017                 0.0               8                  0.0
2018                 0.0               1                  0.0

In [48]:
#""" archivo = r'Json_comprimidos\users_items.json.gz'

#data = []
""" 
with gzip.open(archivo, 'rt', encoding='utf-8') as file:
    for line in file:
        try:
            json_data = ast.literal_eval(line)
            data.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue """

#df_itemss = pd.DataFrame(data) """

' \nwith gzip.open(archivo, \'rt\', encoding=\'utf-8\') as file:\n    for line in file:\n        try:\n            json_data = ast.literal_eval(line)\n            data.append(json_data)\n        except ValueError as e:\n            print(f"Error en la línea: {line}")\n            continue '

In [50]:
df_items = pd.read_json('dataframe_items.json')
df_items.isnull().sum()

user_id        0
items_count    0
items          0
dtype: int64

In [51]:
#df_items = df_items.drop(columns=['steam_id','user_url'])
df_items

,user_id,items_count,items
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...
88303,76561198320136420,321,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88304,ArkPlays7,4,"[{'item_id': '218230', 'item_name': 'PlanetSid..."
88305,76561198323066619,22,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88308,76561198329548331,7,"[{'item_id': '304930', 'item_name': 'Unturned'..."

In [55]:
mappear_items = df_items['user_id']
mappear_items

0        76561197970982479
1                  js41637
2                evcentric
3               Riot-Punch
4                    doctr
               ...
88303    76561198320136420
88304            ArkPlays7
88305    76561198323066619
88306    76561198326700687
88308    76561198329548331
Name: user_id, Length: 71504, dtype: object

In [52]:
# Explode la columna 'Datos'
df_items_exploded = df_items.explode('items')

# Convierte los diccionarios en columnas
df_items_opiniones = df_items_exploded['items'].apply(pd.Series)

df_items_final = pd.DataFrame(df_items_opiniones)

df_items_final

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6,0
0,20,Team Fortress Classic,0,0
0,30,Day of Defeat,7,0
0,40,Deathmatch Classic,0,0
0,50,Half-Life: Opposing Force,0,0
...,...,...,...,...
88308,346330,BrainBread 2,0,0
88308,373330,All Is Dust,0,0
88308,388490,One Way To Die: Steam Edition,3,3
88308,521570,You Have 10 Seconds 2,4,4
88308,519140,Minds Eyes,3,3

In [54]:
df_items_copia = df_items_final.copy()

In [56]:
# Resetear el índice del DataFrame original para mantener el índice como columna
df_items_final_copia = df_items_copia.reset_index()

# Hacer el join basado en el índice del DataFrame original
df_items_final_copia = df_items_final_copia.join(mappear_items, on='index')

# Si no necesitas la columna de índice original, puedes eliminarla
df_items_final_copia = df_items_final_copia.drop(columns=['index'])

In [58]:
df_items_final_copia.isnull().sum()

item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
user_id             0
dtype: int64

In [59]:
df_items_final_copia.to_json('dataframe_items_desanidados.json')

In [ ]:
#df_items = df_items[df_items.items_count > 0] #nos quedamos con los usuarios que tenga al menos un item para reducir el tamaño

In [ ]:
#df_items.to_json('dataframe_items.json')

In [ ]:
""" archivo = r'Json_comprimidos\user_reviews.json.gz'

data = []

with gzip.open(archivo, 'rt', encoding='utf-8') as file:
    for line in file:
        try:
            json_data = ast.literal_eval(line)
            data.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

df_reviews = pd.DataFrame(data) """

In [ ]:
""" df_reviews = df_reviews.drop(columns=['user_url'])
df_reviews.to_json('dataframe_reviews.json') """

In [23]:
df_reviews = pd.read_json('dataframe_reviews.json')
df_reviews

                 user_id                                            reviews
0      76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1                js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2              evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3                  doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4              maplemage  [{'funny': '3 people found this review funny',...
...                  ...                                                ...
25794  76561198306599751  [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795           Ghoustik  [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796  76561198310819422  [{'funny': '1 person found this review funny',...
25797  76561198312638244  [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798        LydiaMorley  [{'funny': '1 person found this review funny',...

[25799 rows x 2 columns]

In [25]:
mappear = df_reviews['user_id']
mappear

0        76561197970982479
1                  js41637
2                evcentric
3                    doctr
4                maplemage
               ...
25794    76561198306599751
25795             Ghoustik
25796    76561198310819422
25797    76561198312638244
25798          LydiaMorley
Name: user_id, Length: 25799, dtype: object

In [43]:
# Explode la columna 'Datos'
df_exploded = df_reviews.explode('reviews')

# Convierte los diccionarios en columnas
df_opiniones = df_exploded['reviews'].apply(pd.Series)

df_final = pd.DataFrame(df_opiniones)

df_final

,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN
...,...,...,...,...,...,...,...,...
25797,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,NaN
25797,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,NaN
25798,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,NaN
25798,,Posted July 20.,,730,No ratings yet,True,:D,NaN
25798,,Posted July 2.,,440,No ratings yet,True,so much fun :D,NaN

In [44]:
df_final = df_final.drop(columns=['funny','last_edited',0])
df_final

,posted,item_id,helpful,recommend,review
0,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...
0,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.
0,"Posted April 21, 2011.",43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
1,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
25797,Posted July 10.,70,No ratings yet,True,a must have classic from steam definitely wort...
25797,Posted July 8.,362890,No ratings yet,True,this game is a perfect remake of the original ...
25798,Posted July 3.,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
25798,Posted July 20.,730,No ratings yet,True,:D
25798,Posted July 2.,440,No ratings yet,True,so much fun :D

In [45]:
df_final_copia = df_final.copy()

In [46]:

# Resetear el índice del DataFrame original para mantener el índice como columna
df_final_copia = df_final_copia.reset_index()

# Hacer el join basado en el índice del DataFrame original
df_final_copia = df_final_copia.join(mappear, on='index')

# Si no necesitas la columna de índice original, puedes eliminarla
df_final_copia = df_final_copia.drop(columns=['index'])

df_final_copia

,posted,item_id,helpful,recommend,review,user_id
0,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479
2,"Posted April 21, 2011.",43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637
4,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...,...
59328,Posted July 10.,70,No ratings yet,True,a must have classic from steam definitely wort...,76561198312638244
59329,Posted July 8.,362890,No ratings yet,True,this game is a perfect remake of the original ...,76561198312638244
59330,Posted July 3.,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,LydiaMorley
59331,Posted July 20.,730,No ratings yet,True,:D,LydiaMorley
59332,Posted July 2.,440,No ratings yet,True,so much fun :D,LydiaMorley

In [47]:
df_reviews_desanidadas = df_final_copia.dropna()
df_reviews_desanidadas.to_json('dataframe_reviews_desanidadas.json')